.content-auth {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mat-mdc-card-content {
    display: flex;
    flex-direction: column;
}

.mat-mdc-card-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0px 15px 0px;
}

.my-0 {
    margin-top: 8px !important;
    margin-bottom: 8px !important;
}

.mat-mdc-card-actions {
    display: flex;
    justify-content: end;
}