// .mat-toolbar-row {
//     justify-content: center;
// }

.login-button {
    border: 1px solid black;
}

.template-navbar-spacer {
    flex: 1 1 auto;
}

.category-btn {
    margin: 0px 15px 0px 15px;
    text-transform: uppercase;
}

.icon-account_circle {
    font-size: 25px !important;
    width: 25px !important;
    height: auto !important;
}